<div {{bindAttr class=":settings showingSettings"}}>

  <ul>
    <li class="call-to-action">{{#linkTo 'location.map'}}Locations{{/linkTo}}</li>
  </ul>

  <ul>
    <li>
      <label>Offline mode</label>
      {{! http://codepen.io/joshnh/pen/hjbuH }}
      {{view Ember.Checkbox checkedBinding="offlineMode"}}
    </li>

    <li {{bindAttr class=":call-to-action offlineMode:inactive"}}><a {{action sync}} href="javascript://">Sync with server</a></li>
  </ul>

  <ul>
    <li class="call-to-action">{{#linkTo 'settings.about'}}About this app{{/linkTo}}</li>
    <li class="call-to-action">{{#linkTo 'settings.feedback'}}Give feedback{{/linkTo}}</li>
  </ul>

  <ul>
    <li class="call-to-action">{{#linkTo 'settings.app_code'}}Specify app code{{/linkTo}}</li>
  </ul>

</div>