<div class="main">

  <div class="topbar">
    {{#linkTo 'settings' classNames="settingsToggle"}}&#9776;{{/linkTo}}
    {{outlet topbar}}
  </div>

  {{outlet}}

</div>

<div class="bottombar">
    {{#linkTo 'location.add' classNames="add-location"}}Add location{{/linkTo}}
</div>

{{outlet modal}}