<div class="content">

  <ul>
    {{#each locations}}
      <li>
        {{desc}}
        {{#unless syncedWithServer}}
          <span class="muted pull-right">Not synced</span>
        {{/unless}}
      </li>
    {{else}}
      <li>No locations yet.</li>
    {{/each}}
  </ul>

</div>