<div class="content">

  <p>The app code is required to save your information to the 4k data server. You'll receive this code from the 4k team and only will have to enter this in once.</p>


  <form {{action "saveAppCode" on="submit"}}>

    <label for="appCode">App code</label>
    {{view Ember.TextField id="appCode" valueBinding="appCode" type="text"}}

    <p class="success hidden">App code succesfully set to {{appCode}}</p>

  </form>

  {{outlet}}

</div>