<div class="content">

  <p>The app code is required to save your information to the 4k data server. You'll receive this code from the 4k team and only will have to enter this in once.</p>

  {{outlet}}

</div>