<div class="main">

  <div class="topbar">
    {{! http://codepen.io/Huskie/pen/xckpJ }}
    {{#linkTo 'settings' classNames="settingsToggle"}}Settings{{/linkTo}}
    {{outlet topbar}}
  </div>

  {{outlet}}

  <div class="bottombar">
      {{#linkTo 'location.add' classNames="add-location"}}Add location{{/linkTo}}
  </div>

</div>

{{outlet modal}}