<div class="main">

  <div class="topbar">
    <a {{action 'toggleSettings'}} href="javascript://">settings toggle</a>
    {{outlet topbar}}
  </div>

  {{outlet}}

  <div class="bottom-bar">
      {{#linkTo 'location.add'}} + Add + {{/linkTo}}
  </div>

</div>

{{outlet modal}}