<div class="content">

  <ul>
    {{#each model}}
      <li class="call-to-action">{{this.desc}} - {{this.lat}}, {{this.long}}</li>
    {{else}}
      <li>No locations yet.</li>
    {{/each}}
  </ul>

</div>