<div class="settings">

  <ul>
    <li><a {{action sync}} href="javascript://">Sync with server</a></li>
    <li>{{#linkTo 'location.list'}}My data{{/linkTo}}</li>
  </ul>

  <ul>
    <li>{{#linkTo 'settings.new_validation_code'}}Create validation code{{/linkTo}}</li>
  </ul>

  <ul>
    <li>
      <label>Offline mode</label>
      {{view Ember.Checkbox checkedBinding="offlineMode"}}
    </li>
    <li>{{#linkTo 'settings.privacy'}}Privacy settings{{/linkTo}}</li>
  </ul>

  <ul>
    <li>{{#linkTo 'settings.about'}}About this app{{/linkTo}}</li>
    <li>{{#linkTo 'settings.feedback'}}Give feedback{{/linkTo}}</li>
  </ul>

  <ul>
    <li>{{#linkTo 'settings.logout'}}Log out{{/linkTo}}</li>
  </ul>

  {{outlet}}

</div>